<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<style>
		li {list-style: none; width: 50%;}
		li span {display: inline-block;}
		li span:nth-child(1) {width: 10%;}
		li span:nth-child(2) {width: 30%; cursor: pointer; }
		li span:nth-child(3) {width: 50%;}
		.form .btn_send {font-weight: bold;}
		.form:not(.detail) .btn_insert,
		.form:not(.detail) .btn_edit {display: none;}
		.form.detail .btn_send {display: none;}
	</style>
</head>
<body>
<div class="form">
	<p>
		<strong>id</strong>
		<span id="id"></span>
	</p>
	<p>
		<strong>name</strong>
		<input type="text" id="name" placeholder="name">
	</p>
	<p>
		<strong>email</strong>
		<input type="text" id="email" placeholder="email">
	</p>
	<button type="button" class="btn_insert">insert</button>
	<button type="button" class="btn_send">send</button>
	<button type="button" class="btn_edit">edit</button>
</div>
<form id="delByForm">
	<input type="hidden" name="delId">
</form>
<hr>
<ul th:fragment="users_wrap" class="users_wrap">
	<li th:each="item : ${userList}">
	    <span class="id" th:text="${item.id}"></span><span class="name" th:text="${item.name}"></span><span class="email" th:text="${item.email}"></span>
	    <button type="button">X</button>
	</li>
</ul>
<script>
/******* 데이터 추가 *******/
$(".btn_insert").on("click", function() {
	$(".form").removeClass("detail");
	$(".form input").val("");
});
$(".btn_send").on("click", function() {
	var paramUser = {
		"name": document.getElementById('name').value,
		"email":  document.getElementById('email').value,
	};
	if(!paramUser.name || !paramUser.email) {
		alert("no data");
		return;
	}
	$.ajax({
	  type: 'PUT',
	  url: '/users/user',
	  data: JSON.stringify(paramUser),
	  dataType: "json",
	  contentType: "application/json; charset=UTF-8",
	  success: function(data) {
		  reloadList();
		  $(".form input").val("");
	  }
	});	
});

function reloadList() {
	$.ajax({
	  type: 'GET',
	  url: '/users/list',
	  success: function(data) {
		  $(".users_wrap").replaceWith(data);
		  itemViewEvent();
		  itemDelEvent();
	  }
	});
}

/******* 데이터 보기 *******/
function itemViewEvent() {
	$(".users_wrap .name").on("click", function(e) {
		$(".form").addClass("detail");
		$.ajax({
		  type: 'GET',
		  url: '/users/detail?name=' + $(this).text(),
		  success: function(data) {
			  $("#id").text(data[0].id);
			  $("#name").val(data[0].name);
			  $("#email").val(data[0].email);
		  }
		});
	});
}
itemViewEvent();


/******* 데이터 수정 *******/
$(".btn_edit").on("click", function(e) {
	var paramUser = {
		"id": parseInt($('#id').text()),
		"name": document.getElementById('name').value,
		"email":  document.getElementById('email').value,
	};
	$.ajax({
	  type: 'PUT',
	  url: '/users/manage/' + paramUser.id,
	  data: JSON.stringify(paramUser),
	  dataType: "json",
	  contentType: "application/json; charset=UTF-8",
	  success: function(data) {
		  reloadList();
	  }
	});
});


/******* 데이터 삭제 *******/
function itemDelEvent() {
	$("li button").on("click", function(e) {
		var thisBtn = $(this);
		/* ajax방식 */
		$.ajax({
		  type: 'DELETE',
		  url: '/users/manage/user?id=' + parseInt($(this).siblings(".id").text()),
		  success: function(data) {
			  thisBtn.parent().remove();
		  }
		});
		/* form방식
		$("#delByForm input").val($(this).siblings(".id").text());
		$("#delByForm").attr({
			action: "/users/manage/user2",
			method: "POST", //form only support GET, POST
		}).submit(); //page refreshed(looks not good)
		*/
		
	});
}
itemDelEvent();
</script>
</body>
</html>