<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/include"
      layout:decorate="~{include/layout}">
    
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script th:src="@{/js/excel/xlsx.full.min.js}"></script>
	<script th:src="@{/js/excel/file.saver.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<link th:href="@{/css/test.css}" rel="stylesheet" />
	<style>
		li {list-style: none; width: 50%; padding-bottom: 3px;}
		li span {display: inline-block; font-size: 14px;}
		li span:nth-child(1) {width: 10%;}
		li span:nth-child(2) {width: 20%;}
		li span:nth-child(3) {width: 20%; cursor: pointer; }
		li span:nth-child(4) {width: 30%;}
		.form {display: block; padding: 10px; border:2px solid #32364E;}
		.form strong {display: inline-block; width:100px;}
		.form .btn_send {font-weight: bold;}
		.form:not(.detail) .btn_insert,
		.form:not(.detail) .btn_edit {display: none;}
		.form.detail .btn_send {display: none;}
		.btn_excel {position: absolute; top: 10px; right: 10px;}
		.img_box {position: absolute; top: 40px; right: 20px; background: #f0f0f0; vertical-align: top;}
		.img_box img {width: 100px; height: auto;}
		.id_box {display: inline-block; width: 30px; vertical-align: top; border: 2px solid #333; text-align: center;}
		
	</style>
</head>
    <div layout:fragment="container" class="test">
		<header th:replace="include/header :: headerFragment('board')"></header>
		
		<div class="content">
			<div class="userNo_box">
				<span id="user_no">userNo</span>
			</div>
			<div class="form">
				<p>
					<strong>id</strong>
					<input type="text" id="id" placeholder="id">
				</p>
				<p>
					<strong>name</strong>
					<input type="text" id="name" placeholder="name">
				</p>
				<p>
					<strong>email</strong>
					<input type="text" id="email" placeholder="email">
				</p>
				
				<form class="photoForm" enctype="multipart/form-data">
					<strong>file</strong>
					<input type="file" name="file" placeholder="file" id="imgfile" multiple>
				</form>
				
				<button type="button" class="btn_insert">insert</button>
				<button type="button" class="btn_send">send</button>
				<button type="button" class="btn_edit">edit</button>
			</div>

			<div class="img_box"></div>

			<form id="delByForm">
				<input type="hidden" name="delUserNo">
			</form>
			
			<hr>
			
			<ul th:fragment="users_wrap" class="users_wrap">
				<li th:each="item : ${userList}">
				    <span class="user_no" th:text="${item.user_no}"></span><span class="id" th:text="${item.id}"></span><span class="name" th:text="${item.name}"></span><span class="email" th:text="${item.email}"></span>
				    <button type="button">X</button>
				</li>
			</ul>
			<div class="logo"><img src="img/kepco.png" style="width: 100px; height: auto"></div>
			<img src="resource/aaa.jpg" style="width: 100px; height: auto">
			<!--<button type="button" class="btn_excel" onclick="downloadExcel()">excel</button>-->
			
			
			<div class="equipList">
				<table>
			        <th:block th:each="item : ${equipList}">
			            <tr>
			                <td th:text="${item.eq_id}"></td><td th:text="${item.eq_nm}"></td>
			            </tr>
			        </th:block>
			    </table>
			</div>
		
		
<script>
/******* 데이터 추가 *******/
$(".btn_insert").on("click", function() {
	$(".form").removeClass("detail");
	$(".form input").val("");
});
$(".btn_send").on("click", function() {
	var formData = new FormData();
	var multiFiles = $('#imgfile')[0].files;
	console.log(multiFiles, "")
	
	var paramUser = {
		"id": document.getElementById('id').value,
		"name": document.getElementById('name').value,
		"email":  document.getElementById('email').value,
	};
	if(!paramUser.id || !paramUser.name || !paramUser.email) {
		alert("no data");
		return;
	}
	
	formData.append("user", new Blob([JSON.stringify(paramUser)], {type: "application/json"}));
	for(var i = 0; i < multiFiles.length; i++) {
		formData.append("file", $('#imgfile')[0].files[i]);
	}
	
	$.ajax({
	  type: 'POST',
	  url: '/test/user',
	  data: formData,
	  enctype: 'multipart/form-data',
	  processData: false,    
	  contentType: false,      
	  cache: false,
	  dataType: "json",   
	  success: function(data) {
		  reloadList();
		  $(".form input").val("");
	  }
	});	
	
});

function reloadList() {
	$.ajax({
	  type: 'GET',
	  url: '/test/list',
	  success: function(data) {
		  $(".users_wrap").replaceWith(data);
		  itemViewEvent();
		  itemDelEvent();
	  }
	});
}

/******* 데이터 보기 *******/
function itemViewEvent() {
	$(".users_wrap .name").on("click", function(e) {
		$(".form").addClass("detail");
		$.ajax({
		  type: 'GET',
		  url: '/test/detail?name=' + $(this).text(),
		  success: function(data) {
			  $("#user_no").text(data[0].user_no);
			  $("#id").val(data[0].id);
			  $("#name").val(data[0].name);
			  $("#email").val(data[0].email);
		  }
		});
		$.ajax({
		  type: 'GET',
		  url: '/test/photo/' + parseInt($(this).siblings(".user_no").text()),
		  success: function(data) {
			  $(".img_box").empty();
			  if(!data.length) return;
			  for(var i = 0; i < data.length; i++) {
			  	$(".img_box").append("<img src='/resource/" + data[i].filename + "'>");
			  }
		  }
		});
	});
}
itemViewEvent();


/******* 데이터 수정 *******/
$(".btn_edit").on("click", function(e) {
	var paramUser = {
		"user_no": parseInt($('#user_no').text()),
		"id": document.getElementById('id').value,
		"name": document.getElementById('name').value,
		"email":  document.getElementById('email').value,
	};
	$.ajax({
	  type: 'PUT',
	  url: '/test/manage/' + paramUser.user_no,
	  data: JSON.stringify(paramUser),
	  dataType: "json",
	  contentType: "application/json; charset=UTF-8",
	  success: function(data) {
		  reloadList();
	  }
	});
	if(!validateImg("imgfile", {fileType: "img"})) return
	
	/* 단순 파일자체만 서버 업로드시
	$.ajax({             
    	type: "POST",          
        enctype: 'multipart/form-data',  
        url: "/file/upload-multi",        
        data: new FormData($('.photoForm')[0]),          
        processData: false,    
        contentType: false,      
        cache: false,           
        timeout: 600000,       
        success: function (data) { 
        	alert("complete");    
        }    
	});*/
});


/******* 데이터 삭제 *******/
function itemDelEvent() {
	$("li button").on("click", function(e) {
		var thisBtn = $(this);
		/* ajax방식 */
		$.ajax({
		  type: 'DELETE',
		  url: '/test/manage/user?user_no=' + parseInt($(this).siblings(".user_no").text()),
		  success: function(data) {
			  thisBtn.parent().remove();
		  }
		});
		/* form방식
		$("#delByForm input").val($(this).siblings(".user_no").text());
		$("#delByForm").attr({
			action: "/users/manage/user2",
			method: "POST", //form only support GET, POST
		}).submit(); //page refreshed(action url로 페이지이동하므로 controller 리다이렉트 필수)
		*/
	});
}
itemDelEvent();


</script>

		</div><!-- //content -->
	</div><!-- //container -->
</html>