<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/include"
      layout:decorate="~{include/layout}">
    
<head>
    <title>board</title>
</head>
    <div layout:fragment="container" class="board">
		<header th:replace="include/header :: headerFragment('board')"></header>
		
		<div class="content">
			board
		</div><!-- //content -->
		
		<ul class="users_wrap">
			<li th:each="item : ${boardList}">
			    <span class="title" th:text="${item.title}"></span><span class="content" th:text="${item.content}"></span>
			    <button type="button">X</button>
			</li>
		</ul>
	</div><!-- //container -->
</html>