<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">
	<head>
	    <title>Board</title>
	</head>

	main - 이 영역은 구조상 layout파일의 내용들로 대체됨

	<div layout:fragment="con-main">
		main content    
		
		<div th:replace="board/part :: #part_id"></div>
		<div th:replace="board/part :: .part_class"></div>
		<div th:replace="board/part :: part_fragment"></div>
	    <footer th:insert="include/footer :: footerFragment2('sinae', 10)"></footer>
	    
	</div>

</html>