<!DOCTYPE html>
<html lang="ko">
    <head>
    	<th:block layout:fragment="import" th:include="@{/include/import}"></th:block>
    	<title>board</title>
    </head>
    <body>
        <th:block layout:fragment="header" th:include="@{/include/header}"></th:block>
        <div layout:fragment="content" class="content">
            <table>
                <th:block th:each="item : ${userList}">
                    <tr>
                        <td th:text="${item.name}"></td><td th:text="${item.email}"></td>
                    </tr>
                </th:block>
            </table>
        </div>
        <th:block layout:fragment="footer" th:include="@{/include/footer}"></th:block>
    </body>
</html>