<th:block class="system_nm">신애테스트중</th:block>

<th:block class="system_nmEn">SUBMARINE CABLE TEMPERATURE AND VIBRATION MONITORINGSYSTEM</th:block>

<th:block class="date_day_time">
				<p class="date">0000.00.00</p>
				<p class="day">Mon</p>
				<p class="time">12:00 AM</p>
</th:block>

<th:block class="login_info">
				<div class="userInfo_nm">
					<span sec:authorize="isAuthenticated()"><b sec:authentication="name"></b>님
					<b sec:authorize="hasAuthority('ADMIN')">(관리자)</b>
					<b sec:authorize="hasAuthority('USER')">(일반사용자)</b>
					<b th:text="${#authentication.getPrincipal().getEmail()}"></b></span>
				</div>
                <a class="btn colorGyLine btn_logout" href="/user/logout" sec:authorize="isAuthenticated()">로그아웃</a>
</th:block>