<!DOCTYPE html>
<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block th:replace="include/import :: importMeta"></th:block>
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">해저케이블 온도·진동 Monitoring System</title>
    <th:block th:replace="include/import :: importCss"></th:block>
    <th:block th:replace="include/import :: importScript"></th:block>
</head>

<body>
<div class="wrap_user">
	<div layout:fragment="container_user" id="container_user"></div><!-- //container_user -->
</div><!-- //wrap_user -->
</body>
</html>