<!DOCTYPE html>
<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">해저케이블 온도·진동 Monitoring System</title>
    
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link href="/css/jquery-ui-1.13.0.css" rel="stylesheet">
	<script src="/js/jquery-2.2.4.min.js"></script>
	<script src="/js/jquery-ui-1.13.0.min.js"></script>
</head>

<body>
<div id="wrap">
	<nav th:replace="include/nav :: navFragment"></nav>
	<div layout:fragment="container" id="container"></div><!-- //container -->
	<nav th:replace="include/footer :: footerFragment"></nav>
</div>
</body>
</html>