<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/include"
      layout:decorate="~{include/layout_user}">
    
<head>
    <title>login</title>
</head>
    	<div layout:fragment="container_user" class="signup">
		    <h1 class="lg_tit"><a href="/"><th:block th:replace="include/info :: .system_nm"></th:block></a></h1>
		    <h2 class="lg_titEn"><th:block th:replace="include/info :: .system_nmEn"></th:block></h2>
		    
		    <div class="lg_form">
		    	<h3>회원가입<span th:text="${test}"></span></h3>
		    	<form id="signUpInfo" th:action="@{/user/signupProc}" method="post">
			    	<div class="item">
			    		<input type="text" id="name" name="name"><label for="name">사용자명</label>
			    	</div>
			    	<div class="item">
			    		<input type="text" id="id" name="id"><label for="id">아이디</label>
			    	</div>
			    	<div class="item">
			    		<input type="password" id="password" name="password"><label for="password">비밀번호</label>
			    	</div>
			    	<div class="item">
			    		<input type="password" id="password_chk" name="password_chk"><label for="regPw">비밀번호확인</label>
			    	</div>
			    	<div class="item">
			    		<input type="text" id="email" name="email"><label for="email">email</label>
			    	</div>
				    <div class="btn_set">
						<a href="/" class="btn colorGy btn_cancel">취소</a>
				    	<button type="submit" class="btn colorBl btn_signUp">회원가입</button>
					</div>
				</form>
		    </div>
		</div><!-- //container_user -->
	
	
</body>
</html>