@charset "utf-8";

/****** default ******/
* {padding: 0; margin: 0; box-sizing: border-box; color: #a0a1a5; font-size: 13px; list-style: none;}
body {background: #26282c;}
input {background: rgba(150, 150, 150, 1); border: 0; border-radius: 3px; color: #fff;}
input:focus {outline: 0; background: #282b3b!important;}
button {background: #333; border: 0; border-radius: 3px;}

/****** layout ******/
header {display: flex; align-items: center; justify-content: space-between; height: 5vh; padding: 0 30px; border-bottom: 1px solid #26262e;}
header .logo {
	padding-left: 45px;
	background: url(../img/kepco.png) no-repeat left top/34px auto; 
	font-size: 1.3rem;
	color: #eee;
	font-weight: bold;
	line-height: 1.3;
}
header .title {font-size:1.5rem; font-weight: bold;}
header .info_common > * {display: inline-block;}
#gnb {display: flex; padding:10px;}
#gnb li {display: inline-flex; justify-content: center; padding: 10px; border:1px solid #333; background:#2f2f2fad;}

.content {position: relative; height: 95vh; border-top: 1px solid #484848;}

/****** contents ******/
/* main */

.srch-wrap {}
.srch-wrap input {width: 80%; height: 30px; padding: 10px;}
.srch-wrap button {}
.structure .img {
	width: 70%;
	max-width: 900px;
	height: 600px;
	margin: 60px auto;
	background: url(../img/sample.png) no-repeat center top/100% auto;
}

.pannel {
	position: relative;
	margin: 10px 0;
	padding: 15px;
	box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	background: #2e3034;
}
.pannel h4 {font-size: 0.9rem; color: #e0e0e0;}
.pannel .guide {position: absolute; top: 12px; right: 10px; font-size: 0.6rem;}
.pannel ul {margin-top: 10px; border: 1px solid rgba(100, 100, 100, 0.3); border-left: 0; border-right: 0;}
.pannel ul li {display: flex; justify-content: space-between; padding: 7px 0; line-height: 1;}
.pannel ul li + li {border-top: 1px solid rgba(100, 100, 100, 0.3); }


/* btn common */
.btn_set {clear: both;}
.btn_set > button ~ button,
.btn_set > button ~ form {margin-left: 3px;}
.btn {display: inline-flex!important; justify-content: center; align-items: center; height: 40px; padding: 0 20px; border-radius: 6px; font-size: 1rem; vertical-align: middle; transition: 0.2s ease;}
.btn:hover {box-shadow: inset 0em 0.7em 0px rgba(255, 255, 255, 0.1);}
.btn.colorBl {background: #455DDC; color: #fff!important;}
.btn.colorRd {background: #DC4545; color: #fff!important;}
.btn.colorGy {background: #32364E; color: #fff!important;}
.btn.colorBlLine {background: #182154; border: 2px solid #455DDC; color: #fff;}
.btn.colorGyLine {background: transparent; border: 2px solid #32364E; color: #c1c3cb;}
.btn.colorRdLine {background: #401010; border: 2px solid #C81818; color: #fff;}
.btn.colorGrLine {background: #084625; border: 2px solid #16CF6D; color: #fff;}
.btn_set form {display: inline-flex; vertical-align: middle;}
table .btn {height: 32px; padding: 0 10px;}
table .btn.stat {width: 60px;}
table .btn:not(.stat) {width: 70px;}




/*************************************  login/signup *************************************/
#container_user {position: absolute; width: 100%; background: url(../img/bg_login.png) no-repeat; text-align: center;}
#container_user.login {position: absolute; top: 50%; width: 100%; transform: translateY(-51%); text-align: center;}
#container_user.signup {position: absolute; top: 50%; width: 100%; transform: translateY(-51%); text-align: center;}
#container_user .lg_tit {font-size: 2.2rem; color: #fff; font-weight: 600;}
#container_user .lg_titEn {margin-top: 5px; font-size: 1rem; color: #7B818F;}
#container_user .lg_form {width: 480px; padding: 40px 40px 40px; margin: 30px auto 0; border-radius: 10px; background: #131519;}
#container_user .lg_form h3 {margin-bottom: 40px; font-size: 2rem; font-weight: 600;}
#container_user .lg_form .item {display: flex; flex-direction: column; margin-top: 10px; text-align:left;}
#container_user .lg_form input {height: 52px; order: 2; margin-top: 8px; padding: 0 20px; background: transparent; font-size: 1.14rem; transition: 0.5s;}
#container_user .lg_form .btn_set {margin-top: 40px;}
#container_user .lg_form .btn_set .btn {width: 100%; height: 52px; font-size: 1.14rem;}
#container_user .lg_form .btn_set .btn_signUp {width: 80%;}
#container_user .lg_form .btn_set .btn_cancel {width: 17%;}
#container_user.signUp .lg_form {margin-top: 60px;}
#container_user.signUp .lg_form .btn_set {display: flex; justify-content: space-between;}
#container_user .btn_signup {position: relative; top: 15px; padding: 0 1px 2px; border-bottom: 1px solid #7b8093; color: #7b8093;}
#container_user .lg_form .guide.id {display:none;}
#container_user .lg_form .guide.id.active {display:block;}


/*************************************  error *************************************/
.wrap_error {position: absolute; width: 100%; height: 100%; background: url(../img/bg_error.png) no-repeat;}
.wrap_error .error {position: absolute; top: 50%; width: 100%; transform: translateY(-51%); text-align: center;}
.wrap_error .error .er_tit {padding-top: 220px; background: url(../img/img_error.svg) no-repeat center top; font-weight: 600; font-size: 2.8rem;}
.wrap_error .error .er_con {margin-top: 40px; color: #AEB7CF; font-size: 1.28rem; line-height: 1.6;}
.wrap_error .error .btn_set {margin-top: 40px;}
.wrap_error .error .btn_set .btn {height: 68px; padding: 0 55px; border-radius: 16px; font-size: 1.28rem; font-weight: 600;}
.wrap_error .error .btn_set .btn + .btn {margin-left: 17px;}