<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/include"
      layout:decorate="~{include/layout}">
    
<head>
    <title>home</title>
</head>
    <div layout:fragment="container" class="home">
		<header th:replace="include/header :: headerFragment('home')"></header>
		
		<div class="content">
            Home <span sec:authorize="${isAuthenticated()}">로그인되었습니다.</span>
		</div><!-- //content -->
	</div><!-- //container -->
</html>